rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    function isAdmin() {
      return isAuthenticated() && 
        (request.auth.token.email == "acc.xinh001@gmail.com" ||
         (exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
          get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin'));
    }

    match /users/{userId} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
      allow read, write: if isAdmin();
    }

    match /tasks/{taskId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    match /task_logs/{logId} {
      allow read, write: if isAuthenticated();
    }

    match /withdrawals/{reqId} {
      allow read, write: if isAuthenticated();
      allow update: if isAdmin();
    }
  }
}
